@use 'sass:map';

$header-font-family: 'Adieu Black', 'Avenir Next', 'Roboto', 'Helvetica Neue', sans-serif;
$base-font-family: 'Adieu Regular', 'Avenir Next', 'Roboto', 'Helvetica Neue', sans-serif;
$header-font-weight: bold;
$base-font-weight: normal;
$base-font-size: 12px;
$base-font-color: $white;

$background-color: $black;
$text-highlight-color: rgba($primary, 0.5);
$border-style: 2px solid $base-font-color;

$footer-height: 5.375rem;
$layout-lg-pt: map-get($spacers, 5);

$content-max-width: 1460px;
$project-title-width: 376px;
$project-pic-max-height: 700px;
$project-pic-max-width: 965px;
$project-high-ratio-pic-max-width: 376px;
$project-text-max-width: 300px;
$full-text-max-width: 790px;
$info-bubble-max-width: 440px;

$project-pt: 30vh;
$project-pb: 70vh;
$project-min-height: $project-pic-max-height;
