@use 'sass:map';

$header-font-family: 'Adieu Black', 'Avenir Next', 'Roboto', 'Helvetica Neue', sans-serif;
$base-font-family: 'Adieu Regular', 'Avenir Next', 'Roboto', 'Helvetica Neue', sans-serif;
$header-font-weight: bold;
$base-font-weight: normal;
$base-font-size: 12px;
$base-font-color: $white;

$background-color: $black;
$text-highlight-color: rgba($primary, 0.5);
$border-style: 2px solid $base-font-color;

$footer-sm-height: 3.85rem;
$footer-height: 5rem;
$layout-lg-pt: map-get($spacers, 5);

$content-max-width: 1460px;
$project-title-width: 260px;
$project-title-xl-width: 376px;
$project-pic-max-height: 900px;
$project-pic-xl-max-height: 700px;
$project-pic-max-width: 965px;
$project-high-ratio-pic-max-width: 376px;
$project-text-max-width: 300px;
$full-text-max-width: 790px;
$info-bubble-max-width: 380px;
$info-bubble-sm-max-width: 440px;

$project-complex-max-width: 720px;
$project-complex-xl-max-width: 1300px;

$project-simple-max-width: $project-complex-max-width + 100px;
$project-simple-xl-max-width: $project-pic-max-width + 140px;

$project-pt: 30vh;
$project-pb: 50vh;
$project-min-height: $project-pic-max-height;
