@import 'bootstrap-custom';
@import 'variables';
@import 'typography';

html,
body {
  background-color: $background-color;
  z-index: -10;
}

a {
  color: $base-font-color;
  text-decoration: none;

  &:hover {
    color: $body-color;
    background-color: $text-highlight-color;
  }
}

#navigation {
  top: 40px;
  right: 60px;
  z-index: 100;

  &:hover {
    background-color: transparent;
  }
}

#content {
  max-width: 1460px;
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: $footer-height !important;

  @include media-breakpoint-up(lg) {
    // min-height: calc(100vh - #{$layout-lg-pt});
    // padding-bottom: $footer-sm-height !important;
  }
}

#footer {
  width: 100%;
  height: $footer-height;
  position: absolute;
  bottom: 0;
  left: 0;

  @include media-breakpoint-up(sm) {
    height: $footer-sm-height;
  }
}

#hero {
  min-height: 100vh;

  .hero-image {
    max-width: 750px;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    // transform-origin: center;
  }
}

#projects {
  .project {
    min-height: 100vh;
    margin-bottom: 100px;
    z-index: 1;

    .wrapper {
      top: 50%;
      transform: translateY(-50%);
    }

    .title {
      max-width: $project-title-width;
      max-height: $project-title-width;
      z-index: 0;
    }
  }

  .project-layout-right {
    .title {
      bottom: calc(#{$project-title-width} * -1 + 100px);
      left: 30%;
    }
  }
  .project-layout-below {
    .title {
      top: calc(#{$project-title-width} * -1 + 100px);
      left: 80px;
    }
  }
}

#info {
  width: 600px;
  height: 600px;
  padding: 3rem;
  color: $black;
  text-align: center;
  background-image: url('../images/info-lg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  .content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
  }
}

.text-max-width {
  max-width: 790px;
}

.description-max-width {
  max-width: 440px;
}

.pic-max-height {
  max-height: 650px;
}

.link-icon {
  max-height: 1.3rem;
}
