@import 'bootstrap-custom';
@import 'variables';
@import 'typography';

a {
  color: $body-color;
  text-decoration: none;
  border-bottom: $border-style;

  &:hover {
    color: $body-color;
    background-color: $text-highlight-color;
    border-bottom: 3px inset transparent;
  }
}

#layout {
  #navigation {
    // circumvent reactstrap default behaviour of adding a container
    > .container-fluid {
      padding: 0;
    }

    a {
      font-family: $header-font-family;
      font-weight: $header-font-weight;
      border-bottom: 3px inset transparent;
      font-size: 16px;
    }

    .active {
      border-bottom: $border-style;

      &:hover {
        border-bottom: 3px inset transparent;
      }
    }

    @include media-breakpoint-up(lg) {
      min-width: 240px;
    }
    @include media-breakpoint-up(xl) {
      min-width: 310px;
    }

    .navbar-brand {
      font-size: 24px;
    }

    .navbar-toggler {
      top: $spacer * 0.09;
      right: 0;
      color: $base-font-color !important;

      &:focus {
        box-shadow: unset;
      }
    }
  }

  #content {
    max-width: 690px;
    min-height: calc(100vh - #{$navigation-height});
    padding-bottom: $footer-height !important;

    @include media-breakpoint-up(lg) {
      min-height: calc(100vh - #{$layout-lg-pt});
      padding-bottom: $footer-sm-height !important;
    }
  }

  #footer {
    width: 100%;
    height: $footer-height;
    position: absolute;
    bottom: 0;
    left: 0;

    @include media-breakpoint-up(sm) {
      height: $footer-sm-height;
    }
  }
}
