@import 'bootstrap-custom';
@import 'variables';
@import 'typography';

html,
body {
  background-color: $background-color;
  z-index: -10;
  // min-height: -webkit-fill-available;
}

a {
  color: $base-font-color;
  text-decoration: none;
  border-bottom: $border-style;

  &:hover {
    color: $base-font-color;
  }
}

#navigation {
  top: 40px;
  right: 60px;
  z-index: 100;
  border: none;

  &:hover {
    border: none;
  }

  .info-link {
    width: 60px;

    @include media-breakpoint-up(xl) {
      width: 82px;
    }
  }
}

#info {
  width: $info-bubble-max-width;
  height: $info-bubble-max-width;
  padding: 3rem;
  color: $black;
  text-align: center;
  background-image: url('../images/info-lg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 0.75rem;
  right: 1rem;
  z-index: 100;

  .content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
  }

  .link-icon {
    max-height: 1.4rem;
    color: $black;

    &.soundcloud {
      max-height: 2.2rem;
    }
  }
}

#content {
  max-width: $content-max-width;
  margin: 0 auto;
  min-height: calc(100vh - map-get($spacers, 5));
  // min-height: -webkit-fill-available;
  padding-bottom: $footer-height !important;
}

#footer {
  width: 100%;
  height: $footer-height;
  position: absolute;
  bottom: 0;
  left: 0;
}

#hero {
  height: calc(4 * 100vw / 3);
  @include media-breakpoint-up(md) {
    height: unset;
    min-height: 100vh;
  }

  .hero-image {
    width: 90vw;

    @include media-breakpoint-up(md) {
      width: 80vw;
    }
    max-width: 768px;
  }
}

#projects {
  .project {
    min-height: $project-min-height;
    margin-top: $project-pt;
    margin-bottom: $project-pb;
    z-index: 1;

    li {
      z-index: 2;
    }

    .title {
      max-width: $project-title-width;
      max-height: $project-title-width;

      @include media-breakpoint-up(xl) {
        max-width: $project-title-xl-width;
      }

      z-index: 0;
    }
  }

  .project-layout-complex {
    max-width: $project-complex-max-width;

    @include media-breakpoint-up(xl) {
      max-width: $project-complex-xl-max-width;
    }

    &.layout-left {
      .title {
        width: $project-title-width;
        max-width: $project-title-xl-width;
        top: calc(#{$project-title-width} * -1 + 90px);
        left: 50%;
        transform: translateX(-50%);

        @include media-breakpoint-up(sm) {
          width: $project-title-xl-width;
          top: calc(#{$project-title-xl-width} * -1 + 130px);
        }
        @include media-breakpoint-up(xl) {
          right: 70px;
        }
      }
    }

    &.layout-right {
      .title {
        top: calc(#{$project-title-width} * -1 + 70px);
        left: 0;

        @include media-breakpoint-up(xl) {
          bottom: calc(#{$project-title-xl-width} * -1 + 460px);
          right: 0;
          top: unset;
          left: unset;
        }
      }
    }
  }

  .project-layout-simple {
    max-width: $project-simple-max-width;

    @include media-breakpoint-up(xl) {
      max-width: $project-simple-xl-max-width;
    }

    .title {
      top: calc(#{$project-title-width} * -1 + 80px);
      right: 15px;

      @include media-breakpoint-up(xl) {
        top: calc(#{$project-title-xl-width} * -1 + 120px);
        left: 0;
      }
    }

    .description-max-width {
      max-width: calc(#{$project-pic-max-width} / 2);
    }
  }
}

.text-max-width {
  max-width: $full-text-max-width;
}

.description-max-width {
  max-width: $project-text-max-width;
}

.pic-max-height {
  max-height: $project-pic-max-height;

  @include media-breakpoint-up(xl) {
    max-height: $project-pic-xl-max-height;
  }
}

.pic-max-width {
  max-width: $project-pic-max-width;
}

.high-ratio-pic-max-width {
  max-width: $project-high-ratio-pic-max-width;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 200ms, opacity 200ms;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 200ms;
}

.blur-fade-in {
  p,
  span {
    color: transparent;
    text-shadow: 0 0 12px rgba($base-font-color, 1);
  }
}

.blur-fade-out {
  p,
  span {
    color: $base-font-color;
    text-shadow: none;
  }
}
