@font-face {
  font-family: 'Adieu Regular';
  src: url('../fonts/Adieu-Regular.otf') format('opentype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Adieu Black';
  src: url('../fonts/Adieu-Black.otf') format('opentype');
  font-weight: bold;
  font-display: swap;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: inherit;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  text-rendering: optimizeLegibility;
}
